@import "tailwindcss";

@font-face {
    font-family: 'medium';
    src: url('../public/fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'extrabold';
    src: url('../public/fonts/Montserrat-ExtraBold.ttf');
}
@font-face {
    font-family: 'bold';
    src: url('../public/fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: 'regular';
    src: url('../public/fonts/Montserrat-Regular.ttf');
}

@theme default {
    --font-regular: 'regular',
    --font-bold: 'bold',
    --font-extrabold: 'extrabold',
    --font-medium: 'medium',

}